# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
paper/main.dvi
paper/main.pdf
deploy-bk/
Java/HELP.md
Java/compx5270817.iml
Java/HELP.md
.idea/*
Java/.git
Java/.idea
Java/.idea/*
Java/.mvn
Java/.mvn/*
Java/target/*
Java/compx5270817.iml
Java/HELP.md
Java/.idea/compiler.xml
Java/.idea/encodings.xml
Java/.idea/misc.xml
Java/.idea/modules.xml
Java/.idea/workspace.xml
Java/.idea/artifacts/compx5270817_war_exploded.xml
Java/.idea/artifacts/compx5270817_war.xml
Java/.idea/libraries/Maven__ch_qos_logback_logback_classic_1_2_4.xml
Java/.idea/libraries/Maven__ch_qos_logback_logback_core_1_2_4.xml
Java/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_11_4.xml
Java/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_11_4.xml
Java/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_11_4.xml
Java/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_11_4.xml
Java/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_11_4.xml
Java/.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_parameter_names_2_11_4.xml
Java/.idea/libraries/Maven__com_jayway_jsonpath_json_path_2_4_0.xml
Java/.idea/libraries/Maven__com_vaadin_external_google_android_json_0_0_20131108_vaadin1.xml
Java/.idea/libraries/Maven__jakarta_activation_jakarta_activation_api_1_2_2.xml
Java/.idea/libraries/Maven__jakarta_annotation_jakarta_annotation_api_1_3_5.xml
Java/.idea/libraries/Maven__jakarta_xml_bind_jakarta_xml_bind_api_2_3_3.xml
Java/.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_10_22.xml
Java/.idea/libraries/Maven__net_bytebuddy_byte_buddy_agent_1_10_22.xml
Java/.idea/libraries/Maven__net_minidev_accessors_smart_2_3_1.xml
Java/.idea/libraries/Maven__net_minidev_json_smart_2_3_1.xml
Java/.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_13_3.xml
Java/.idea/libraries/Maven__org_apache_logging_log4j_log4j_to_slf4j_2_13_3.xml
Java/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_9_0_50.xml
Java/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_9_0_50.xml
Java/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_0.xml
Java/.idea/libraries/Maven__org_assertj_assertj_core_3_18_1.xml
Java/.idea/libraries/Maven__org_glassfish_jakarta_el_3_0_3.xml
Java/.idea/libraries/Maven__org_hamcrest_hamcrest_2_2.xml
Java/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_5_7_2.xml
Java/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_7_2.xml
Java/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_7_2.xml
Java/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_7_2.xml
Java/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_7_2.xml
Java/.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_7_2.xml
Java/.idea/libraries/Maven__org_mockito_mockito_core_3_6_28.xml
Java/.idea/libraries/Maven__org_mockito_mockito_junit_jupiter_3_6_28.xml
Java/.idea/libraries/Maven__org_objenesis_objenesis_3_1.xml
Java/.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
Java/.idea/libraries/Maven__org_ow2_asm_asm_5_0_4.xml
Java/.idea/libraries/Maven__org_skyscreamer_jsonassert_1_5_0.xml
Java/.idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_32.xml
Java/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_32.xml
Java/.idea/libraries/Maven__org_springframework_boot_spring_boot_2_4_9.xml
Java/.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_2_4_9.xml
Java/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_2_4_9.xml
Java/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_json_2_4_9.xml
Java/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_2_4_9.xml
Java/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_2_4_9.xml
Java/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_2_4_9.xml
Java/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_2_4_9.xml
Java/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_2_4_9.xml
Java/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_autoconfigure_2_4_9.xml
Java/.idea/libraries/Maven__org_springframework_spring_aop_5_3_9.xml
Java/.idea/libraries/Maven__org_springframework_spring_beans_5_3_9.xml
Java/.idea/libraries/Maven__org_springframework_spring_context_5_3_9.xml
Java/.idea/libraries/Maven__org_springframework_spring_core_5_3_9.xml
Java/.idea/libraries/Maven__org_springframework_spring_expression_5_3_9.xml
Java/.idea/libraries/Maven__org_springframework_spring_jcl_5_3_9.xml
Java/.idea/libraries/Maven__org_springframework_spring_test_5_3_9.xml
Java/.idea/libraries/Maven__org_springframework_spring_web_5_3_9.xml
Java/.idea/libraries/Maven__org_springframework_spring_webmvc_5_3_9.xml
Java/.idea/libraries/Maven__org_xmlunit_xmlunit_core_2_7_0.xml
Java/.idea/libraries/Maven__org_yaml_snakeyaml_1_27.xml
Java/.mvn/wrapper/maven-wrapper.jar
Java/.mvn/wrapper/maven-wrapper.properties
Java/.mvn/wrapper/MavenWrapperDownloader.java
Java/target/classes/application.properties
Java/.classpath
Java/.project
Java/.settings/org.eclipse.core.resources.prefs
Java/.settings/org.eclipse.jdt.apt.core.prefs
Java/.settings/org.eclipse.jdt.core.prefs
Java/.settings/org.eclipse.m2e.core.prefs
.vscode/settings.json
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
java/.DS_Store

Frontend/.DS_Store
Frontend/node_modules/
Frontend/dist/
Frontend/npm-debug.log*
Frontend/yarn-debug.log*
Frontend/yarn-error.log*
Frontend/test/unit/coverage/
Frontend/test/e2e/reports/
Frontend/selenium-debug.log

# Editor directories and files
Frontend/.idea
Frontend/.vscode
Frontend/*.suo
Frontend/*.ntvs*
Frontend/*.njsproj
Frontend/*.sln
paper/main.synctex.gz
paper/main.aux
paper/main.bbl
paper/main.blg
data/SVDNB_npp_d20180108_t1454524_e1500328_b32124_c20180108210033945728_noac_ops.rade9.co.tif
data/downloading/*
data/processor/SVDNB_npp_d20120401_t1901195_e1906599_b02219_c20120402010701174040_noaa_ops.rade9.co.tif
downloading/*
data/crawler_packaged_template.yaml
